{# {% extends "admin/_template.html.twig" %} #}
{% extends "_template.html.twig" %}

{% block title %}suppression de {{articleSimple.name}}{% endblock %}

{% block content %}
   
    <div class="section">
        <h1 class="title">Suppression de l'article simple {{articleSimple.name}}</h1>


        {{form_start(confirmation_form)}}

            {{form_row(confirmation_form.confirmation,{
                label: 'je confirme la suppression de l\'article simple : ' ~ articleSimple.name ~ '.'
            })}}

            <button type="submit" class="button is-danger">Supprimer</button>


        {{form_end(confirmation_form)}}
    </div>
{% endblock %}