{# {% extends "admin/_template.html.twig" %} #}
{% extends "_template.html.twig" %}

{% block title %}Produit configurable{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">Produit configurables: {{produitConfigurable_list|length}}</h1>
    </div>

      {% include "includes/flash.html.twig" %}

    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de création</th>
                <th>Dernière modification</th>
                <th>Nom du fabricant</th>
                <th>Sous type produit</th>



                
                <th><a href="{{path('produitConfigurable_add')}}" class="button is-info is-small">Nouveau produit configurable</a></th>
            </tr>
        </thead>
        <tbody>
            {% for produitConfigurable in produitConfigurable_list %}
                <tr>
                    <td>{{produitConfigurable.name|slice(0,25)}}</td>
                    <td>{{produitConfigurable.produitConfigurableCreationAt}}</td>
                    <td>{{produitConfigurable.produitConfigurableMajAt}}</td>
                    <td>{{produitConfigurable.Fabricant.name}}</td>


                    <td>
                        <a href="{{path('produitConfigurable_edit',{id:produitConfigurable.id})}}" class="button is-small is-success"><i class="fas fa-edit"></i></a>
                        <a href="{{path('produitConfigurable_delete',{id:produitConfigurable.id})}}" class="button is-small is-danger"><i class="fas fa-trash-alt"></i></a>
                    </td>
                    
                </tr>
                
            {% endfor %}
        </tbody>
    </table>    
{% endblock %}