{# {% extends "admin/_template.html.twig" %} #}
{% extends "_template.html.twig" %}

{% block title %}suppression de {{sousTypeProduit.name}}{% endblock %}

{% block content %}
   
    <div class="section">
        <h1 class="title">Suppression du sous type produit {{sousTypeProduit.name}}</h1>


        {{form_start(confirmation_form)}}

            {{form_row(confirmation_form.confirmation,{
                label: 'je confirme la suppression du sous type produit : ' ~ sousTypeProduit.name ~ '.'
            })}}

            <button type="submit" class="button is-danger">Supprimer</button>


        {{form_end(confirmation_form)}}
    </div>
{% endblock %}